#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

CFLAGS += -g -Wall

DESTDIR=$(CURDIR)/debian/tmp

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $*

override_dh_auto_configure:
	CPPFLAGS="$(CPPFLAGS)" LDFLAGS="$(LDFLAGS)" CFLAGS="$(CFLAGS)" ./configure --prefix=/usr --bundled-libraries=NONE \
		   --disable-rpath --disable-rpath-install \
		   --minimum-library-version="$(shell ./debian/autodeps.py --minimum-library-version .)" \
		   --libdir=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_build:
	$(MAKE) all

get-packaged-orig-source:
	./debian/build-orig.sh

override_dh_auto_clean:
	-./third_party/waf/bin/waf clean
	rm -f buildtools/wafsamba/*.pyc \
		third_party/waf/wafadmin/*.pyc \
		third_party/waf/wafadmin/Tools/*.pyc \
		.lock-wscript
	rm -rf build
	rm -rf bin
	rm -f libtevent.a

override_dh_auto_test:
	LD_LIBRARY_PATH=bin/shared/ $(MAKE) check

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(DESTDIR)
	ar cr libtevent.a bin/default/*.o
	cp libtevent.a $(DESTDIR)/usr/lib/$(DEB_HOST_MULTIARCH)
	# No python for now
	rm -f $(DESTDIR)/usr/lib/python*/*-packages/_tevent.so

override_dh_strip:
	dh_strip --dbg-package=libtevent0-dbg

override_dh_makeshlibs:
	dh_makeshlibs -- -c4
